@import url("https://fonts.googleapis.com/css?family=Proxima+Nova");

:root {
  --primary-color: #2d91fe;
  --black-color: rgba(13, 15, 82, 1);
  --bg-primary-color: #fff;
  --border-color: #e5e5f3;
}
